.payment-outerlayer{
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#29ff0054 ;
}

.payment-innerlayer{
    border: 2px solid green;
    height: 50%;
    width: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
#email{
    margin-top: 5px;
}
.payment-innerlayer input{
    width: 70%;
    margin: 2px 0px;
    height: 15%;
    text-align: center;
    border-radius: 15px;
    border: none;

}

.mailicon{
    position: absolute;
    top: 45px;
    left: 63px;
}

.cardicon{
    position: absolute;
    top: 98px;
    left: 63px;

}

.monthicon{
    position: absolute;
    top: 150px;
    left: 63px;

}
.lockicon{
    position: absolute;
    top: 201px;
    left: 63px;

}

.stripecheckout{
    position: absolute;
    bottom: 35px;
}